/*  o  burp °  __v____ o °  O o ° o  */
/*   O °  o\  '       \ ° _° o O °   */
/*  ° O  ° o | _o      `-'_>  ° o °  */
/*    o ° o   .         .-.> o O °   */
/*   O   o ° o `-------' °  o ° O o  */

@font-face {
    font-family: 'lm';
    src: url('../fonts/lmromancaps10-regular.otf') format('opentype');
}

html {
    padding: 0px;
    margin: 0px;
    height: -webkit-fill-available;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'lm', sans-serif;
    max-width:100%;
    min-height: 100vh;
    min-height: 100dvh;
    min-height: -webkit-fill-available;
}

*{box-sizing:border-box;}
button:focus{outline:none;}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100vw;
    padding: 12px;
    margin: 0px;
    display: flex;
    background: #f8f8f8;
    z-index: 100;
}

header h1 {
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.icon-button {
    position: relative;
    padding: 0px;
    margin: 6px;
    height: 36px;
    width: 36px;
    border: none;
    background: none;
    vertical-align: middle;
}

.icon-button.small {
    height: 24px;
    width: 24px;
    float: right;
    top: 6px;
}

.icon-button img {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.icon-button:active {
    opacity: 0.5;
}

.header-pages {
    display: block;
    position: absolute;
    top: 0px;
    left: -100vw;
    width: 80vw;
    height: 100dvh;
    background: #fff;
    transition: left 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.header-pages.open {
    left: 0px;
    box-shadow: 0px 0px 12px #0008;
}

.header-pages-header {
    padding: 12px;
    margin: 0px;
    display: flex;
}

.header-pages-body {
    padding: 24px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.header-pages-body ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style-type: none;
}

.header-pages-body > ul li {
    padding: 0px;
    margin: 0px;
    margin-left: 12px;
    width: calc(100% - 12px);
    line-height: 48px;
    border-bottom: 1px solid #0008;
}

.header-pages-body > ul > li > ul {
    display: none;
}

.header-pages-body > ul > li.open > ul {
    display: block;
}

.header-pages-body > ul > li ul {
    border-top: 1px solid #0008;
}

.header-pages-body > ul li:last-child {
    border-bottom: none;
}

.header-pages-body > ul > li {
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style-type: none;
}

.tree-button.open img {
    transform: rotate(180deg);
}

main {
    position: relative;
    display: block;
    width: 100vw;
    height: calc(100vh - 72px);
    height: calc(100dvh - 72px);
    height: calc(-webkit-fill-available - 72px);
    overflow: scroll;
}

.slide {
    position: relative;
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-wrapper {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.slide-item {
    position: relative;
    height: 100%;
    width: 100vw;
}

.slide-buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.slide-buttons-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    padding: 0px;
    margin: 6px;
}

.slide-buttons-item.active {
    background: #fff;
    width: 18px;
    height: 18px;
}

.slide-background {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 48px;
    color: #fff;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.slide-content h1::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: 12px 0px;
}

.slide-content h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: 12px 0px;
}

.slide-content .time {
    position: relative;
    display: inline-block;
}

.slide-content .time::before {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 24px;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff);
    left: -36px;
    content: '';
}

.slide-content .time::after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 24px;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff);
    right: -36px;
    content: '';
}

.images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
    grid-auto-rows: minmax(100px, auto);
    padding: 12px
}

.images-item {
    position: relative;
    height: 100%;
    width: 100%;
}

.images-item > img {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-content {
    position: absolute;
    margin: 12px;
    padding: 12px;
    border: 1px solid #fff;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    color: #fff;
    text-align: center;
    text-decoration: none;;
}

.images-content h3 {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.images-content h3::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: 12px 0px;
}

.images-content h3::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: 12px 0px;
}