/*  o  burp °  __v____ o °  O o ° o  */
/*   O °  o\  '       \ ° _° o O °   */
/*  ° O  ° o | _o      `-'_>  ° o °  */
/*    o ° o   .         .-.> o O °   */
/*   O   o ° o `-------' °  o ° O o  */

@font-face {
    font-family: 'lm';
    src: url('../fonts/lmromancaps10-regular.otf') format('opentype');
}

html {
    padding: 0px;
    margin: 0px;
    height: -webkit-fill-available;
    font-size: 24px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'lm', sans-serif;
    max-width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    min-height: -webkit-fill-available;
}

*{box-sizing:border-box;}
button:focus{outline:none;}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100vw;
    padding: .5rem;
    margin: 0px;
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 1rem #0008;
    z-index: 100;
}

header h1 {
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
}

.icon-button {
    position: relative;
    padding: 0px;
    margin: .25rem;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background: none;
    vertical-align: middle;
}

.icon-button.small {
    height: 1rem;
    width: 1rem;
    float: right;
    top: .25rem;
}

.icon-button img {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.icon-button:active {
    opacity: .5;
}

.header-pages {
    display: block;
    position: absolute;
    top: 0px;
    left: -80vw;
    width: 80vw;
    height: 100dvh;
    background: #fff;
    transition: left .5s ease-in-out, box-shadow .5s ease-in-out;
}

.header-pages.open {
    left: 0px;
    box-shadow: 0px 0px 1rem #0008;
}

.header-pages-header {
    padding: .5rem;
    margin: 0px;
    display: flex;
}

.header-pages-body {
    padding: .5rem;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background: #fff;
    font-size: 0.75em;
}

.header-pages-body ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style-type: none;
}

.header-pages-body > ul li {
    padding: 0px;
    margin: 0px;
    margin-left: .5rem;
    width: calc(100% - .5rem);
    line-height: 2rem;
    border-bottom: 1px solid #0008;
}

.header-pages-body > ul > li > ul {
    display: none;
}

.header-pages-body > ul > li.open > ul {
    display: block;
}

.header-pages-body > ul > li ul {
    border-top: 1px solid #0008;
}

.header-pages-body > ul li:last-child {
    border-bottom: none;
}

.header-pages-body > ul > li {
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style-type: none;
}

.tree-button.open img {
    transform: rotate(180deg);
}

main {
    position: relative;
    display: block;
    width: 100vw;
    height: calc(100vh - 3rem);
    height: calc(100dvh - 3rem);
    height: calc(-webkit-fill-available - 3rem);
    overflow: scroll;
}

.slide {
    position: relative;
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-wrapper {
    display: flex;
    width: 300%;
    transition: transform .5s ease-in-out;
}

.slide-item {
    position: relative;
    height: 100%;
    width: 100vw;
}

.slide-buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.slide-buttons-item {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    padding: 0px;
    margin: .25rem;
}

.slide-buttons-item.active {
    background: #fff;
    width: 0.75rem;
    height: 0.75rem;
}

.slide-background {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 0px;
    color: #fff;
    width: 100%;
    text-align: center;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slide-content h1 {
    font-size: 1em;
}

.slide-content h1::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: .5rem 0px;
}

.slide-content h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: .5rem 0px;
}

.slide-content .time {
    position: relative;
    display: inline-block;
}

.slide-content .time::before {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 3rem;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff);
    left: -3.5rem;
    content: '';
}

.slide-content .time::after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 3rem;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff);
    right: -3.5rem;
    content: '';
}

.box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: .5rem;
    grid-auto-rows: minmax(100px, auto);
    padding: .5rem;
    padding-top: 3em;
    padding-bottom: 0px;
}

.box-item {
    position: relative;
    height: 100%;
    width: 100%;
    aspect-ratio: 2/1;
}

.box-item > img {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-content {
    position: absolute;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #fff;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.box-content h3 {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.box-content h3::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: .5rem 0px;
}

.box-content h3::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: .5rem 0px;
}

.main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: .5rem;
    grid-auto-rows: minmax(100px, auto);
    padding: .5rem;
    padding-top: 3em;
}

.card {
    align-self: start;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: .5rem;
    grid-row-gap: 1.5rem;
    grid-auto-rows: minmax(100px, auto);
}

.card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    aspect-ratio: 1/1.618;
    box-shadow: 0px 0px 1rem #0008;
}

.card-item > img {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 50%;
    top: 0px;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 50%;
    font-size: .75rem;
    color: #000;
}

.card-content-category {
    top: 0px;
    left: 0px;
}

.card-content h5 {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

.card-content h5::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #000, transparent);
    margin: .5rem 0px;
}

.card-content h5::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #000, transparent);
    margin: .5rem 0px;
}

.card-content p {
    display: -webkit-box;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #000 50%, transparent 100%);
    color: transparent;
    background-clip: text;
    overflow: hidden;
}

.card-content-time {
    margin-top: 1rem;
    font-size: 0.67rem;
    color: #000a;
}

.identity {
    align-self: start;
    position: relative;
    display: flex;
    box-shadow: 0px 0px 1rem #0008;
    flex-direction: column;
    padding: 1rem;
}

.identity h2 {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
}

.identity h2::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #000, transparent);
    margin: .5rem 0px;
}

.identity h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #000, transparent);
    margin: .5rem 0px;
}

.identity h3 {
    margin: 0px;
    padding: 0px;
    font-size: 0.75rem;
}

@media (min-width: 1080px) {

html {
    font-size: 24px;
}

header {
    position: fixed;
    background: #fff4;
}

header.scrolled {
    background: #fff;
}

.header-pages {
    left: -20vw;
    width: 20vw;
}

main {
    height: calc(100vh);
    height: calc(100dvh);
    height: calc(-webkit-fill-available);
}

.slide {
    font-size: 1.5em;
}

.slide-buttons {
    left: auto;
    right: 0px;
    width: 2rem;
    height: 100%;
    flex-direction: column;
}

.box {
    padding: 3rem;
    padding-left: 12rem;
    padding-right: 12rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.box-item {
    aspect-ratio: 1/1;
}

.main {
    padding: 3rem;
    padding-left: 12rem;
    padding-right: 12rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    grid-column: 1 / 3;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

}